/* 
Decred Branding Colors:
-----------------------
Primary:
    #2971FF - Key Blue
    #2ED6A1 - Turquiose
    #0C1E3E - Dark Blue
Complimentary Colors:
    #69D3F5 - Light Blue
    #41BF53 - Green
    #FD714A - Orange
Typography:
    Source Sans Pro
    Inconsolata

*/
/* /block/ Table */
div.leftColumn {
  width: 250px;
  float: left;
}
div.rightColumn {
  float: right;
  width: 450px;
}
table#blockVoteTable td {
  padding: 0px;
}
table#blockVoteDetailTable tbody td {
  padding: 10px 10px 0px 10px;
}
table#blockVoteDetailTable {
  width: 100%;
}
table#blockVoteDetailTable tr td.voteRow {
  padding-bottom: 13px;
  overflow: scroll;
  text-overflow: clip;
}
div.leftColumn table .col-left {
  width: 35%;
}
table#blockTransactionTable .col-left {
  width: 70%;
}
table#blockVoteTable .col-left {
  width: 25%
}
table#blockVoteDetailTable .col-left {
  width: 83%;
}
table#blockTicketTable .col-left {
  width: 83%
}
span.voteButton {
    background-color: var(--background-color);
    padding: 3px 7px 3px 7px;
    border-radius: 150px;
    margin-right: 4px;
    border: 1.5px solid var(--decred-dark-blue);
    text-transform: uppercase;
    font-size: 10px;
}
