/* 
Decred Branding Colors:
-----------------------
Primary:
    #2971FF - Key Blue
    #2ED6A1 - Turquiose
    #0C1E3E - Dark Blue
Complimentary Colors:
    #69D3F5 - Light Blue
    #41BF53 - Green
    #FD714A - Orange
Typography:
    Source Sans Pro
    Inconsolata

*/

body {
    --decred-key-blue: #2971FF;
    --decred-turquiose: #2ED6A1;
    --decred-dark-blue: #0C1E3E;
    --decred-light-blue: #69D3F5;
    --decred-green: #41BF53;
    --decred-orange: #FD714A;
    --background-color: #D3D3D3;
    background-color: var(--background-color) 
}

table a:link {
    color: var(--decred-dark-blue);
}
table a:visited {
    color: var(--decred-dark-blue);
}
table a:hover {
    color: white;
    font-weight: 700;
    text-decoration: none;
}
/* /block/ Table */
.blockTable,
.transactionTable,
.voteTable,
.ticketTable,
.revocationTable,
.voteDetailTable {
    table-layout: fixed;
    width: 95%;
    font-size: 12px;
    border-collapse: collapse;
    font-family: "Source Sans Pro";
    color: var(--decred-dark-blue);
}

.blockTable tbody th {
    text-align: left;
}
.blockTable tbody th,
.blockTable tbody td,
.transactionTable tbody th,
.transactionTable tbody td,
.ticketTable tbody th,
.ticketTable tbody td,
.revocationTable tbody th,
.revocationTable tbody td {
    border-bottom: 2px solid #FFFFFF;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.voteTable tbody th,
.voteTable tbody td {
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.voteTable > tbody > tr {
    border-bottom: 2px solid #FFFFFF;
}
.voteDetailTable tbody td {
    padding: 10px 10px 0px 10px;
}
.voteDetailTable {
    width: 100%;
}
.tableTitle {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}
.blockTable tbody tr:nth-child(odd),
.transactionTable tbody tr:nth-child(odd),
.voteTable > tbody > tr:nth-child(odd),
.ticketTable tbody tr:nth-child(odd),
.revocationTable tbody tr:nth-child(odd) {
    background-color: var(--decred-light-blue);
}
.blockTable tbody tr:nth-child(even),
.transactionTable tbody tr:nth-child(even),
.voteTable > tbody > tr:nth-child(even),
.ticketTable tbody tr:nth-child(even),
.revocationTable tbody tr:nth-child(even) {
    background-color: var(--decred-green);
}
.blockTable tbody tr:hover,
.transactionTable tbody tr:hover,
.voteTable tbody tr:hover,
.ticketTable tbody tr:hover,
.revocationTable tbody tr:hover {
    background-color: var(--decred-orange);
}
.blockTable thead th:nth-child(1) {
    width: 45%;
}
.blockTable thead th:nth-child(2) {
    width: 55%;
}
.transactionTable thead th:nth-child(1) {
    width: 70%;
}
.transactionTable thead th:nth-child(2) {
    width: 30%;
}
.voteTable thead th:nth-child(1) {
    width: 40%;
}
.voteTable thead th:nth-child(2) {
    width: 60%;
    text-align: right;
}
.ticketTable thead th:nth-child(1),
.voteDetailTable tbody td:nth-child(1) {
    width: 80%;
}
.ticketTable thead th:nth-child(2),
.voteDetailTable tbody td:nth-child(2) {
    width: 20%;
}
tbody td:nth-child(1) {
    text-align: left;
}
tbody td:nth-child(2) {
    text-align: right;
}
.container {
    width: 700px;
}
.pageHeader {
    width: 670px;
    height: 50px;
    font-weight: 700;
    font-family: "Source Sans Pro";
    text-align: right;
    padding-bottom: 15px;
}
.pageTitle {
    color: var(--decred-green);
    font-size: 50px;
    text-decoration: none;
}
.subTitle {
    font-size: 25px;
    margin-top: -15px;
    color: var(--decred-light-blue);
}
.leftColumn {
    width: 250px;
    float: left;
}
.rightColumn {
    float: right;
    width: 450px;
}
.voteButton {
    background-color: var(--background-color);
    padding: 3px 7px 3px 7px;
    border-radius: 150px;
    margin-right: 4px;
    border: 1.5px solid var(--decred-dark-blue);
    text-transform: uppercase;
    font-size: 10px;
}
.voteDetailTable tbody tr td.voteRow {
    padding-bottom: 13px;
    overflow: scroll;
    text-overflow: clip;
}
