/* 
Decred Branding Colors:
-----------------------
Primary:
    #2971FF - Key Blue
    #2ED6A1 - Turquiose
    #0C1E3E - Dark Blue
Complimentary Colors:
    #69D3F5 - Light Blue
    #41BF53 - Green
    #FD714A - Orange
Typography:
    Source Sans Pro
    Inconsolata

*/

.blockBody {
    color: purple;
    font-size: 16px;
}

a:link {
    color: #0C1E3E;
}
a:visited {
    color: #0C1E3E;
}
/* /block/ Table */
.blockTable,
.transactionTable {
    table-layout: fixed;
    width: 95%;
    font-size: 12px;
    border-collapse: collapse;
    font-family: "Source Sans Pro";
}
.blockTable {
    text-align: right;
}
.transactionTable {
    text-align: center;
}
.blockTable tbody td, tbody th,
.transactionTable tbody td, tbody th {
    border-bottom: 2px solid #FFFFFF;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blockTable thead td, thead th,
.transactionTable thead td, thead th {
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}
.blockTable tbody tr:nth-child(odd), 
.transactionTable tbody tr:nth-child(odd) {
    background-color: #69D3F5;
}
.blockTable tbody tr:nth-child(odd):hover,
.transactionTable tbody tr:nth-child(odd):hover {
    background-color: #FD714A;
}
.blockTable tbody tr:nth-child(even),
.transactionTable tbody tr:nth-child(even) {
    background-color: #41BF53;
}
.blockTable tbody tr:nth-child(even):hover,
.transactionTable tbody tr:nth-child(even):hover {
    background-color: #FD714A;
}
.blockTable thead th:nth-child(1) {
    width: 60%;
}
.blockTable thead th:nth-child(2) {
    width: 40%;
}
.transactionTable thead th:nth-child(1) {
    width: 30%;
}
.transactionTable thead th:nth-child(2) {
    width: 70%;
}

.container {
    width: 700px;
}
.leftColumn {
    width: 250px;
    float: left;
}
.rightColumn {
    float: right;
    width: 450px;
}
