/* 
Decred Branding Colors:
-----------------------
Primary:
    #2971FF - Key Blue
    #2ED6A1 - Turquiose
    #0C1E3E - Dark Blue
Complimentary Colors:
    #69D3F5 - Light Blue
    #41BF53 - Green
    #FD714A - Orange
Typography:
    Source Sans Pro
    Inconsolata

*/

body {
    --decred-key-blue: #2971FF;
    --decred-turquiose: #2ED6A1;
    --decred-dark-blue: #0C1E3E;
    --decred-light-blue: #69D3F5;
    --decred-green: #41BF53;
    --decred-orange: #FD714A;
    --background-color: #D3D3D3;
    background-color: var(--background-color) 
}
table {
    table-layout: fixed;
    width: 95%;
    font-size: 12px;
    border-collapse: collapse;
    font-family: "Source Sans Pro";
    color: var(--decred-dark-blue);
    white-space: nowrap;
}
table.alternating-colors > tbody > tr {
    border-bottom: 2px solid #FFFFFF;
}
table.alternating-colors > tbody > tr > td,
table.alternating-colors > tbody > tr > th {
  padding: 10px;
}
table.nested-alternating > tbody > tr > td,
table.nested-alternating > tbody > tr > th {
  padding: 5px;
}
table.nested-alternating {
    width: 100%;
}
table a:link {
    color: var(--decred-dark-blue);
    text-decoration: none;
}
table a:visited {
    color: var(--decred-dark-blue);
    text-decoration: none;
}
table a:hover {
    color: white;
    text-decoration: none;
}
th.tableTitle {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}
th.nestedTableTitle {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
}
tbody td {
  overflow: hidden;
  text-overflow: ellipsis; 
}
th:nth-child(1),
td:nth-child(1) {
    text-align: left;
}
th:nth-child(2),
td:nth-child(2) {
    text-align: right;
}
section.container {
    width: 700px;
}
div.pageHeader {
    width: 665px;
    height: 50px;
    font-weight: 700;
    font-family: "Source Sans Pro";
    text-align: right;
    padding-bottom: 15px;
}
a.pageTitle {
    color: var(--decred-green);
    font-size: 50px;
    text-decoration: none;
}
span.subTitle {
    font-size: 25px;
    margin-top: -15px;
    color: var(--decred-light-blue);
}
table.alternating-colors > tbody > tr:nth-child(odd) {
    background-color: var(--decred-light-blue);
}
table.alternating-colors > tbody > tr:nth-child(even) {
    background-color: var(--decred-green);
}
table.alternating-colors > tbody > tr:hover {
    background-color: var(--decred-orange);
}
table.nested-alternating > tbody > tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.255);
}
table.nested-alternating > tbody > tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.128);
}
table.nested-alternating > tbody > tr:hover {
    background-color: var(--decred-orange);
}