table#txnSummaryTable .col-left {
  width: 25%;
}
table#txnSummaryTable td,
table#txnInputDetailTable td,
table#txnOutputDetailTable td {
  overflow: scroll;
  overflow-wrap: break-word;
  text-overflow: initial;
}
table.nested-alternating {
  width: 100%;
}
table#txnInputDetailTable .col-left {
  width: 15%;
}
table#txnOutputDetailTable .col-left {
  width: 15%;
}
