<!DOCTYPE html>
<html>
    <head>
        {{ template "partial_head" }}
        <link rel="stylesheet" href="/static/block.css" type='text/css'>
        <title>
            Decred Block #{{ .BlockHeight }}
        </title>
    </head>
    <body>
        <section class="container">
            <div class="pageHeader">
                <a href="/" class="pageTitle">DCRBLOCKS</a>
                <span class="subTitle">by gratefulcheddar</span>
            </div>
        </section>

        <section class="container">
            <div class="leftColumn">

                <table id="blockVersionTable" class="alternating-colors">
                    <colgroup>
                        <col class="col-left">
                        <col class="col-right">
                    </colgroup>
                    <thead>
                        <th class="tableTitle">Versions:</th>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Block Version:</th>
                            <td>{{.BlockVersion}}</td>
                        </tr>
                        <tr>
                            <th>Vote Version:</th>
                            <td>{{.VoteVersion}}</td>
                        </tr>
                    </tbody>
                </table>

                <table id="blockSummaryTable" class="alternating-colors">
                    <colgroup>
                        <col class="col-left">
                        <col class="col-right">
                    </colgroup>
                    <thead>
                        <th class="tableTitle">Summary:</th>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Block Height:</th>
                            <td>{{.BlockHeight}}</td>
                        </tr>
                        <tr>
                            <th>Transactions:</th>
                            <td>{{.TransactionCount}}</td>
                        </tr>
                        <tr>
                            <th>Confirms:</th>
                            <td>{{.Confirmations}}</td>
                        </tr>
                        <tr>
                            <th>Block Size:</th>
                            <td>{{.BlockSize}} bytes</td>
                        </tr>
                        <tr>
                            <th>Timestamp:</th>
                            <td>{{.Timestamp}}</td>
                        </tr>
                        {{ if .NextBlock }}
                        <tr>
                            <th>Next Block:</th>
                            <td><a href="{{.NextBlock}}">{{.NextBlock}}</a></td>
                        </tr>
                        {{ end }}
                        {{ if .BlockHeight }}
                        <tr>
                            <th>Previous Block:</th>
                            <td><a href="{{.PreviousBlock}}">{{.PreviousBlock}}</a></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>

                <table id="blockHashTable" class="alternating-colors">
                    <colgroup>
                        <col class="col-left">
                        <col class="col-right">
                    </colgroup>
                    <thead>
                        <th class="tableTitle">Hashes:</th>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Hash:</th>
                            <td>{{.Hash}}</td>
                        </tr>

                        <tr>
                            <th>MerkleRoot:</th>
                            <td>{{.MerkleRoot}}</td>
                        </tr>
                        <tr>
                            <th>StakeRoot:</th>
                            <td>{{.StakeRoot}}</td>
                        </tr>
                    </tbody>
                </table>

                <table id="blockTicketSummaryTable" class="alternating-colors">
                    <colgroup>
                        <col class="col-left">
                        <col class="col-right">
                    </colgroup>
                    <thead>
                        <th class="tableTitle">Tickets:</th>
                        <td></td>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Price:</th>
                            <td>{{.TicketPrice}} DCR</td>
                        </tr>
                        <tr>
                            <th>Purchases:</th>
                            <td>{{.TicketsPurchased}}</td>
                        </tr>
                        <tr>
                            <th>Revocations:</th>
                            <td>{{.RevocationCount}}</td>
                        </tr>
                        <tr>
                            <th>Pool Size:</th>
                            <td>{{.TicketPoolSize}}</td>
                        </tr>
                        <tr>
                            <th>Votes:</th>
                            <td>{{.VotesCast}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="rightColumn">

                {{ if .Transactions }}
                <table id="blockTransactionTable" class="alternating-colors">
                    <colgroup>
                        <col class="col-left">
                        <col class="col-right">
                    </colgroup>
                    <thead>
                        <th class="tableTitle">Transactions:</th>
                    </thead>
                    <tbody>
                        {{ range .Transactions }}
                        <tr>
                            <td><a href="/transaction/{{ .TxID }}">{{ .TxID }}</a></td>
                            <td>{{ printf "%9.8f" .Amount }} DCR</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}

                {{ if .Votes }}
                <table id="blockVoteTable" class="alternating-colors">
                    <colgroup>
                        <col class="col-left">
                        <col class="col-right">
                    </colgroup>
                    <thead>
                        <th class="tableTitle">Votes:</th>
                        <th class="tableTitle">{{ printf "%9.8f" .VoteReward }} DCR Reward</th>
                    </thead>
                    <tbody>
                        {{ range .Votes }}
                        <tr><td colspan="2">
                            <table id="blockVoteDetailTable">
                                <colgroup>
                                    <col class="col-left">
                                    <col class="col-right">
                                </colgroup>
                                <tbody>
                                    {{ if .VoteResult.Votes }}
                                        <tr>
                                            <td><a href="/transaction/{{ .TxID }}">{{ .TxID }}</a></td>
                                            <td>Version: {{ .VoteResult.Version }}</td>
                                        </tr>
                                        <tr>
                                            <td class="voteRow">
                                                {{ range $key, $value :=    .VoteResult.Votes }}
                                                <span class="voteButton">
                                                    {{ $key }}: {{ $value   }}
                                                </span>
                                                {{ end }}
                                            </td>
                                        </tr>
                                    {{ else }}
                                    <tr>
                                            <td style="padding-bottom:10px"><a href="/transaction/{{ .TxID }}">{{ .TxID }}</a></td>
                                            <td style="padding-bottom:10px">Version: {{ .VoteResult.Version }}</td>
                                    </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </td></tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}

                {{ if .TicketPurchases }}
                <table id="blockTicketTable" class="alternating-colors">
                    <colgroup>
                        <col class="col-left">
                        <col class="col-right">
                    </colgroup>
                    <thead>
                        <th class="tableTitle">Ticket Purchases:</th>
                    </thead>
                    <tbody>
                        {{ range .TicketPurchases }}
                        <tr>
                            <td><a href="/transaction/{{ .TxID }}">{{ .TxID }}</a></td>
                            <td>{{ .Maturity }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}

                {{ if .Revocations }}
                <table id="blockRevocationTable" class="alternating-colors">
                    <thead>
                        <th class="tableTitle">Ticket Revocations:</th>
                    </thead>
                    <tbody>
                        {{ range .Revocations }}
                        <tr>
                            <td><a href="/transaction/{{ .TxID }}">{{ .TxID }}</a></td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
                {{ end }}

            </div>
        </section>
    </body>
</html>