<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/main.css">
        <title>
            Block #{{ .Height }}
        </title>
    </head>
    <body>
        <div class="blockbody">
            Testing
        </div>
        Hash: {{.Hash}}<br/>
        Confirmations: {{.Confirmations}}<br/>
        Size: {{.Size}}<br/>
        Height: {{.Height}}<br/>
        Version: {{.Version}}<br/>
        MerkleRoot: {{.MerkleRoot}}<br/>
        StakeRoot: {{.StakeRoot}}<br/>
        Transactions: {{.Tx}}<br/>
        Stake Transactions: {{.STx}}<br/>
        Time: {{.Time}}<br/>
        Nonce: {{.Nonce}}<br/>
        VoteBits: {{.VoteBits}}<br/>
        FinalState: {{.FinalState}}<br/>
        Number of Votes: {{.Voters}}<br/>
        Number of Tickets Purchased: {{.FreshStake}}<br/>
        Number of Tickets Revoked: {{.Revocations}}<br/>
        Proof of Stake Pool Size: {{.PoolSize}}<br/>
        Bits: {{.Bits}}<br/>
        SBits: {{.SBits}}<br/>
        Difficulty: {{.Difficulty}}<br/>
        ExtraData: {{.ExtraData}}<br/>
        StakeVersion: {{.StakeVersion}}<br/>
        PreviousHash: {{.PreviousHash}}<br/>
        NextHash: {{.NextHash}}
    </body>
</html>