<!DOCTYPE html>
<html>
  <head>
    {{ template "partial_head" }}
    <title>
      DCRBLOCKS by gratefulcheddar
    </title>
  </head>
  <body>
    <section class="container">
      <div class="pageHeader">
        <a href="/" class="pageTitle">DCRBLOCKS</a>
        <span class="subTitle">by gratefulcheddar</span>
      </div>
    </section>
    <section class="container">
      <div>
        <table class="indexTable">
          <thead>

          </thead>
          <tbody>
            
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>