<!DOCTYPE html>
<html>
  <head>
    {{ template "partial_head" }}
    <title>
      DCRBLOCKS by gratefulcheddar
    </title>
  </head>
  <body>
    <section class="container">
      <div class="pageHeader">
        <a href="/" class="pageTitle">DCRBLOCKS</a>
        <span class="subTitle">by gratefulcheddar</span>
      </div>
    </section>
    <section class="container">
      <div>
        <table class="indexTable">
          <thead>
            <tr>
              <th>Block Height</th>
              <th>Age</th>
              <th>Transactions</th>
              <th>Votes</th>
              <th>Tickets</th>
              <th>Revocations</th>
              <th>Reward</th>
              <th>Size</th>
            </tr>
          </thead>
          <tbody>
            {{ range . }}
            <tr>
              <td><a href="/block/{{ .Height }}">{{ .Height }}</a></td>
              <td>{{ .Age }} Minutes</td>
              <td>{{ .TxnCount }}</td>
              <td>{{ .VoteCount }}</td>
              <td>{{ .TicketCount }}</td>
              <td>{{ .RevokeCount }}</td>
              <td>{{ .Reward }}</td>
              <td>{{ .Size }} bytes</td>
            </tr>
            {{ end }}
            <!-- 
              DATA TO DISPLAY IN TABLE: 

              block number - blocktime - reg transaction # - vote # - ticket purchases # - size
            -->


          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>