<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" type='text/css'>
    <link rel="stylesheet" href="/static/transaction.css" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Sedgwick+Ave+Display' rel='stylesheet' type='text/css'>
    <title>
      Decred Transaction #{{ . }}
    </title>
  </head>
  <body>
    <section class="container">
      <div class="pageHeader">
        <a href="/" class="pageTitle">DCRBLOCKS</a>
        <span class="subTitle">by cheesepool.org</span>
      </div>
    </section>
    <section class="container">
      <div>
        <table id="txnSummaryTable" class="alternating-colors">
          <colgroup>
            <col class="col-left">
            <col class="col-right">
          </colgroup>
          <thead>
              <th class="tableTitle">Transaction Summary:</th>
          </thead>
          <tbody>
              <tr><th>Hex:</th><td>{{ .Hex }}</td></tr>
              <tr><th>Txid:</th><td>{{ .Txid }}</td></tr>
              <tr><th>Version:</th><td>{{ .Version }}</td></tr>
              {{ if .LockTime }}
              <tr><th>LockTime:</th><td>{{ .LockTime }}</td></tr>
              {{ end }}
              {{ if .Expiry }}
              <tr><th>Expiry:</th><td>{{ .Expiry }}</td></tr>
              {{ end }}
              <tr><th>Included in Block:</th><td><a href="/block/{{ .BlockHeight }}">{{ .BlockHeight }}</a></td></tr>
              <tr><th>Confirmations:</th><td>{{ .Confirmations }}</td></tr>
              <tr><th>Time:</th><td>{{ .Time }}</td></tr>
              <tr><th>Blocktime:</th><td>{{ .Blocktime }}</td></tr>
          </tbody>
        </table>
      </div>
    </section>
  </body>
</html>