<!DOCTYPE html>
<html>
  <head>
    {{ template "partial_head" . }}
    <link rel="stylesheet" href="/static/transaction.css" type='text/css'>
    <title>
      Decred Transaction {{ .RawTransactionVerbose.Txid }}
    </title>
  </head>
  <body>
    {{ $transactionType := .Type }}
    <section class="container">
      <div class="pageHeader">
        <a href="/" class="pageTitle">DCRBLOCKS</a>
        <span class="subTitle">by cheesepool.org</span>
      </div>
    </section>
    <section class="container">
      <div>
        <table id="txnSummaryTable" class="alternating-colors">
          <colgroup>
            <col class="col-left">
            <col class="col-right">
          </colgroup>
          <thead>
              <th class="tableTitle">Transaction Summary:</th>
              <th class="tableTitle">{{ $transactionType }}</th>
          </thead>
          <tbody>
              <tr>
                <th>Raw Transaction Hex:</th>
                <td>{{ .RawTransactionVerbose.Hex }}</td>
              </tr>
              <tr>
                <th>TxID:</th>
                <td>{{ .RawTransactionVerbose.Txid }}</td>
              </tr>
              {{ if .RawTransactionVerbose.LockTime }}
                <tr>
                  <th>LockTime:</th>
                  <td>{{ .RawTransactionVerbose.LockTime }}</td>
                </tr>
              {{ end }}
              {{ if .RawTransactionVerbose.Expiry }}
                <tr>
                  <th>Expiry:</th>
                  <td>{{ .RawTransactionVerbose.Expiry }}</td>
                </tr>
              {{ end }}
              <tr>
                <th>Included in Block:</th>
                <td><a href="/block/{{ .RawTransactionVerbose.BlockHeight }}">{{ .RawTransactionVerbose.BlockHeight }}</a></td>
              </tr>
              <tr>
                <th>Confirmations:</th>
                <td>{{ .RawTransactionVerbose.Confirmations }}</td>
              </tr>
              <tr>
                <th>Received Time:</th>
                <td>{{ .Time }}</td>
              </tr>
              {{ if .Votes }}
                <tr>
                  <th>Vote Version:</th>
                  <td>{{ .Votes.Version }}</td>
                </tr>
                {{ if .Votes.Votes }}
                  <tr>
                    <th>Vote Results:</th>
                    <td>
                      {{ range $key, $value := .Votes.Votes }}
                        <span class="voteButton">
                          {{ $key }}: {{ $value }}
                        </span>
                      {{ end }}
                    </td>
                  </tr>
                {{ end }}
              {{ end }}
          </tbody>
        </table>
      </div>

      {{ if .RawTransactionVerbose.Vin }}
      <div>
        <table id="txnInputsTable" class="alternating-colors">
          <colgroup>
            <col class="col-left">
            <col class="col-right">
          </colgroup>
          <thead>
            <th class="tableTitle">Transaction Inputs:</th>
          </thead>
          <tbody>
          {{ range $index, $output := .RawTransactionVerbose.Vin }}
          <tr><td colspan="2">
            <table id="txnInputDetailTable" class="nested-alternating">
              <colgroup>
                <col class="col-left">
                <col class="col-right">
              </colgroup>
              <thead>
                <th class="nestedTableTitle">Input #{{ $index }}:</th>
              </thead>
              <tbody>
                <tr>
                  <th>Amount:</th>
                  <td>{{ .AmountIn }} DCR</td>
                </tr>
                <tr>
                  <th>From:</th>
                  {{ if .Txid }}
                    <td>Output #{{ .Vout }} of Transaction <a href="/transaction/{{ .Txid }}">{{ .Txid }}</a></td>
                  {{ else }}
                    <td>Block Subsidy (NEW!)</td>
                  {{ end }}
                </tr>
              </tbody>
            </table>
          </td></tr>
          {{ end }}
          </tbody>
        </table>
      </div>
      {{ end }}

      {{ if .RawTransactionVerbose.Vout }}
      <div>
        <table id="txnOutputsTable" class="alternating-colors">
          <colgroup>
            <col class="col-left">
            <col class="col-right">
          </colgroup>
          <thead>
            <th class="tableTitle">Transaction Outputs:</th>
          </thead>
          <tbody>
          {{ range $index, $output := .RawTransactionVerbose.Vout }}
          <tr><td colspan="2">
            <table id="txnOutputDetailTable" class="nested-alternating">
              <colgroup>
                <col class="col-left">
                <col class="col-right">
              </colgroup>
              <thead>
                <th class="nestedTableTitle">Output #{{ $index }}</th>
                {{ if eq .ScriptPubKey.Hex "a914f5916158e3e2c4551c1796708db8367207ed13bb87" }}
                  <th class="nestedTableTitle">Developer Subsidy</th>
                {{ end }}
                {{ if and (eq $transactionType "Coinbase") (eq $index 2)}}
                  <th class="nestedTableTitle">Miner Reward</th>
                {{ end }}
              </thead>
              <tbody>
                {{ if .Value }}
                  <tr><th>Amount:</th><td>{{ .Value }} DCR</td></tr>
                {{ end }}
                <tr><th>Script Hex:</th><td>{{ .ScriptPubKey.Hex }}</td></tr>
                <tr><th>Decoded Script:</th><td>{{ .ScriptPubKey.Asm }}</td></tr>
                {{ if (.ScriptPubKey.Addresses) }}
                <tr>
                  <th>Receiving Address(es):</th>
                  <td>
                    {{ range .ScriptPubKey.Addresses }}
                      {{ . }}<br/>
                    {{ end }}
                  </td>
                </tr>
                {{ end }}
              </tbody>
            </table>
          </td></tr>
          {{ end }}
          </tbody>
        </table>
      </div>
      {{ end }}
    </section>
  </body>
</html>